<ul class="collection with-header">
  <li class="collection-item active"><h4><%= complaint.subject %></h4></li>
  <li class="collection-item"><%= complaint.id %></li>
  <li class="collection-item"><%= complaint.complaint_type %></li>
  <li class="collection-item"><%= complaint.content %></li>
</ul>
<br/>
