<div class="row container">
  <div class="col s12 offset-l1">
    <ul class="collection with-header">
      <li class="collection-item active"><h4><%= complaint.subject %></h4></li>
      <li class="collection-item"><%= complaint.id %></li>
      <li class="collection-item"><%= complaint.complaint_type %></li>
      <li class="collection-item"><%= complaint.content %></li>
    </ul>
  </div>
  <br/>
</div>
