<div class="row">
  <div class="card blue-grey darken-1 center-align">
    <div class="card-content white-text">
      <span class="card-title flow-text">Você não possui nenhuma intereção!</span>
      <br/>
      <p class="flow-text"> Ops, percebemos que você não fez nenhuma interação com nosso sistema ainda.</p>
      <p class="flow-text"> Utilize os links abaixo para iniciar uma nova interação.</p>
      <p class="flow-text"> Neste espaço você poderá visualizar todas as suas solicitações e reclamações.</p>
    </div>
    <div class="card-action">
      <%= link_to 'Nova Solicitação', root_path %>
      <%= link_to 'Nova Reclamação', new_complaint_path %>
    </div>
  </div>
</div>

