<h5 class="center-align card-panel red lighten-1 white-text">Notícias importantes</h5>
<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Aviso de indisponibilidade de Serviço</div>
    <div class="collapsible-body"><p>Alguns serviços estarão inoperantes amanhã entre as 2AM e 6AM.</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">place</i>Regiões afetadas pelas chuvas dos últimos dias</div>
    <div class="collapsible-body">
      <p>Algumas regiões enfrentaram problemas por conta das chuvas, são elas: Vila Nova Jaraguá, Jundiaí, Sol Nascente e Taipas.</p>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">whatshot</i>Falha no centro de distribuição</div>
    <div class="collapsible-body"><p>Um backbone central ficou indisponível por 2h na madrugada de ontem, poucos usuários foram afetados.</p></div>
  </li>
</ul>
