<nav class="blue darken-2">
  <div class="nav-wrapper">
    <%= link_to 'SAC Solution', root_path, class: 'center-align container brand-logo' %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Logout', destroy_user_session_path, 'data-method': 'delete' %></li>
    </ul>
  </div>
</nav>
